*{
    margin: 0px;
    padding: 0px;
}
.header{
    background: linear-gradient(0deg, #000000  190px, rgb(0, 0, 0) 130px);
    min-height: 95vh;
    display: grid;
    grid-template-rows: 60px 1fr;
    align-items: center;
    
}
.row{
    margin:0px;
}
.header p{
    font-size: 34px;
    margin-top: auto;
    padding: 15px;
    box-sizing: border-box;
   
}
nav{
    background-color: black;
  
   
}
#nav-mobile{
    background-color:black;
    
    
    
}
#nav-mobile li{
    border-top: none;
    border-left: none;
}
#nav-mobile a{
    font-size: 16px;
}
#nav-mobile a:hover{
    color:#cddc39;
}

i{
    height: 60px;
    align-self: center;
    text-align: center;
    cursor: pointer;
}
.portafolio{
   
    min-height: 100vh;
}
.portafolio-section{
    display: grid;
    
    grid-row-gap: 20px;
}
.portafolio h2{
    margin: 0px;
}
.card{
    font-weight: bold;
    font-size: 20px;

    
 }
.card-image{
    cursor: pointer;
    
} 
.portafolio p{
    font-size: 20px;
}




/* .imgCirculo{
    width: 230px;
    height: 230px;
    background-image: url('../assets/img/perfil_foto.jpg');
    background-repeat: no-repeat;
    background-position: center 5px;
    background-color: gray;
    background-size: cover;
    border: solid white 5px;
    margin: auto;
    position: relative;
    top: 20px;
    display: none;
} */


@media (max-width: 600px){
    
}

