*{
    margin: 0px;
    padding: 0px;
}
.header{
    background: linear-gradient(0deg, #000d99  190px, rgb(255, 255, 255) 130px);
    height: 310px;
    width: 100%;
    max-width: 100%;
}
header>div{
    width: 230px;
    height: 230px;
    background-image: url('../assets/img/perfil_foto.jpg');
    background-repeat: no-repeat;
    background-position: center 5px;
    background-color: gray;
    background-size: cover;
    border: solid white 5px;
    margin: auto;
    position: relative;
    top: 20px;
}
.header-nombre{
    top: 10px;
    position: relative;
}
.header-p{
    font-size: 18px;
}
.menu{
      
    background-color: #2b3ae2;
}